
.basket-promo {
  margin-top: 37px;

  @media(max-width: $screen-sm){
    margin-top: 0;
  }

  &__group {
    margin: 0;
  }

  &__count {
    white-space: nowrap;
  }

  &__panel {
    border: none;
    border-radius: 0px !important;
    box-shadow: none;
    margin-bottom: 117px !important;

    @media(max-width: $screen-sm){
      margin-bottom: 100px !important;
    }

    &:last-child {
      margin-bottom: 0 !important;
    }

    &.active {
      .basket-promo {
        &__ordering__nav__edit {
          pointer-events: none;
        }
      }
    }
  }

  &__panel-collapse {

    &.in {

    }

    &[aria-expanded="true"] {

    }
  }

  &__heading {
    background-color: transparent !important;
    padding: 0;
    border: none !important;
  }

  &__panel-body {
    padding: 0;
    border: none !important;
  }

  &__content {
    margin-top: 53px;
    margin-bottom: 42px;
  }

  &__total {
    width: 100%;
    display: inline-block;
    vertical-align: top;

    &__buy {
      float: right;
    }
  }

  &__close {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    color: #999999;
  }

  &__ordering {
    @include make-row;
    margin-top: 33px;

    @media(max-width: $screen-sm){
      margin-top: 0;
    }

    &__content {
      @include make-xs-column(24);
      @include make-sm-column(15.8);
    }

    &__side {
      @include make-xs-column(24);
      @include make-sm-column(7.7);
      @include make-sm-column-offset(0.5);
    }

    &__info {
      padding: 23px 20px;
      margin: 34px 0px 10px 0px;
      list-style: none;
      border: 2px solid #ffd200;
      background-color: #fcfcfc;

      li {
        width: 100%;
        margin-bottom: 16px;

        &:last-child {
          margin-bottom: 0;

          .head-h4 {
            margin-bottom: 0;
          }
        }
      }
    }

    &__block {
      margin-bottom: 117px;
      border: none;
      box-shadow: none;

      @media(max-width: $screen-sm){
        margin-bottom: 100px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__nav {
      width: 100%;
      display: inline-block;
      vertical-align: top;
      padding-bottom: 14px;
      border-bottom: 2px solid #ffd200;
      margin-bottom: 30px;

      &__title {
        float: left;

        & > *[class^="head"] {
          margin-bottom: 0;
        }
      }

      &__edit {
        float: right;
        margin-top: 2px;
        font-size: 14px;
        color: #000;
        text-decoration: underline;

        &:hover, &:focus {
          color: #000;
        }
      }
    }

    &__next {
      display: flex;
      flex-direction: row;
      margin-top: 13px;
      text-align: right;
      background-color: #fcfcfc;

      .btn {
        min-width: 126px;
      }

      &--few {
        justify-content: space-between;
      }
    }

    &__choose {
      padding: 0;
      list-style: none;
      margin-bottom: 20px;

      li {
        display: inline-block;
        margin-right: 47px;
        margin-bottom: 10px;

        @media(max-width: $screen-sm){
          margin-right: 0;
          padding-right: 20px;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &__location {
      font-size: 14px;
      margin-bottom: 29px;

      p {
        margin-bottom: 20px;
      }

      &__city {
        background-color: #eeeeee;
        display: inline-block;
        vertical-align: top;
        min-width: 123px;
        min-height: 40px;
        text-align: center;
        line-height: 40px;
      }
    }

    &__total {
      margin-top: 29px;
      text-align: right;

      .btn {
        margin-top: 29px;
      }
    }
  }
}

.basket-mini {
  color: white;
  font-size: 14px;
  position: relative;

  &__icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    color: white;
    position: relative;

    &:before {
      content: '';
      opacity: -1;
      position: absolute;
      top: -5px;
      right: -5px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #ff5400;
    }

    &:hover, &:focus {
      color: white;
    }

    @media(max-width: $screen-sm){
      color: #ffc600;
    }

    .icon {
      @include sprite($cart-light);

      @media(max-width: $screen-sm){
        @include sprite($cart);
      }
    }
  }

  &__input {
    height: 24px;
    border: 1px solid #ffc600;
    background: transparent;
    width: 101px;
    padding: 0px 17px 0px 0px;
    color: white;
    font-size: 14px;
    text-align: right;

    @media(max-width: $screen-sm){
      display: none;
    }
  }

  &__currency {
    position: absolute;
    top: 4px;
    right: 7px;
    pointer-events: none;

    @media(max-width: $screen-sm){
      display: none;
    }
  }

  &.active {
    .basket-mini {
      &__icon {
        &:before {
          opacity: 1;
        }
      }
    }
  }
}
