
.logo {
  display: inline-block;
  vertical-align: top;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  width: 180px;
  height: 56px;
  background-image: url("../img/logo_white.svg");

  @media(max-width: $screen-md){
    width: 80px;
    height: 25px;
  }

  &:hover, &:focus {
    opacity: 1;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), not all, not all, not all {

  }
}

.icon {
  display: inline-block;
  vertical-align: top;

  &__search {
     @include sprite($search);
  }

  &__tube {
    display: inline-block;
    width: 78px;
    height: 59px;
    background: url(../img/gear-1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__cart {
    @include sprite($cart);
  }

  &__phone {
    @include sprite($phone);
  }

  &__loaders {
    display: inline-block;
    width: 77px;
    height: 56px;
    background: url(../img/gear-2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__front-loaders {
    display: inline-block;
    background: url(../img/gear-3.png);
    width: 63px;
    height: 64px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__gearbox {
    display: inline-block;
    width: 43px;
    height: 63px;
    background: url(../img/gear-4.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__motor {
    display: inline-block;
    width: 46px;
    height: 58px;
    background: url(../img/gear-5.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__oil {
    display: inline-block;
    width: 42px;
    height: 53px;
    background: url(../img/gear-6.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__basket {
    @include sprite($basket);
  }
}