.modal-backdrop {
  background: rgba(67, 87, 121, 0.6);

  &.in {
    opacity: 1;
  }
}

.modal {
  opacity: 1;

  &-content {
    height: 100%;
  }

  &.fade {
    .modal-dialog {
      transform: translate(0%, 0%);
    }
  }

  &.in {
    .modal-dialog {
      transition: all 0.2s;
      right: 0;
    }

    .modal__close--main {
      right: 910px;
    }
  }

  &__close {
    display: none;
    float: right;
    line-height: normal;

    @media(max-width: $screen-md){
      display: inline-block;
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: 2;
    }

    @media(max-width: $screen-sm){

    }

    .btn {
      padding: 0;
      fill: #256386;
      background-color: transparent;
      min-width: auto !important;
    }

    svg {
      width: 35px;
      height: 35px;

      @media(max-width: $screen-md){
        width: 32px;
        height: 32px;
      }
    }
  }
}

.modal-dialog {
  position: fixed;
  top: 0;
  height: 100%;
  width: 895px;
  right: -100%;
  background-color: #fafbf5;
  padding: 97px 177px 90px 82px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 4;
  margin: 0;

  @media(max-width: $screen-md){
    padding: 20px;
    width: 300px;
  }

  @media(max-width: 768px){
    margin: 0px auto;
  }
  @media(max-width: $screen-sm){
    margin: 0;
  }
}

.modal-content {
  border: none;
  border-radius: 0px;
  box-shadow: none;
  background-color: transparent;
}

.modal.right.fade .modal-dialog {
  right: -895px;
  transition: opacity 0.2s linear, right 0.2s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}

.fancybox-container {
  img {
    //position: relative;
    //transform: none;
    //top: auto;
    //left: auto;
    //width: auto;
  }
}

.fancybox-navigation .fancybox-button--arrow_left {
  @media(max-width: $screen-md) {
    left: 15%;
  }
  @media(max-width: $screen-sm) {
    left: 10%;
  }
  @media(max-width: $screen-xs) {
    left: 5%;
  }
}

.fancybox-navigation .fancybox-button--arrow_right {
  @media(max-width: $screen-md) {
    right: 15%;
  }
  @media(max-width: $screen-sm) {
    right: 10%;
  }
  @media(max-width: $screen-xs) {
    right: 5%;
  }
}