
$width-default: 140px;

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 140px;
}

.bootstrap-select {
  //width: auto;
  border-radius: 0px;
  border: none;
  box-shadow: none;
  //border: 1px solid #787886;

  .dropdown-toggle {
    padding: 1px 20px 1px 5px;
    border-radius: 0px;
    border: 1px solid #ff621e;
    font-size: 10px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: black !important;
    text-align: left;

    &:after {
      //content: '';
      //position: absolute;
      //opacity: 0;
      //bottom: 0;
      //left: 0%;
      //margin: 0px 12px;
      //width: 90%;
      //height: 1px;
      //background-color: rgba(0, 0, 0, 0.1);
    }

    &:hover {
      background-color: white;
      color: #787886 !important;
    }

    &:focus {
      outline: 0px auto -webkit-focus-ring-color !important;
      background-color: white;
    }

    .caret {
      position: absolute;
      transform: translate(0%, -50%);
      top: 50%;
      width: 12px;
      height: 9px;
      right: 6px;
      border: none;
      margin-top: 1px;
      background: url("../img/down.png");

    }

    .filter-option {
      display: inline-block;
      vertical-align: top;
      position: relative;
      padding: 0;
      width: 100%;
      height: auto;
    }

    .filter-option-inner {
      padding: 0;
    }
  }

  .dropdown-menu {
    margin-top: -1px;
    padding: 0;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #adadad;
    padding-top: 10px;
    padding-bottom: 7px;
    max-height: none !important;
    width: 100%;
    border-radius: 0px;

    @media(max-width: $screen-xs){
      max-width: 100%;
    }

    li {
      padding-left: 0px;
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        display: inline-block;
        width: 100%;
        vertical-align: top;
        position: relative;
        white-space: normal;
        outline: none;
        font-size: 10px;
        padding: 0px 5px 0px 5px;
        transition: none;
        background-color: transparent;
        color: #3c4454;
        border-radius: 10px;

        &:hover {
          opacity: 0.5;
          //background-color: #5897fb;
          //color: #3c4454;
        }

        .check-mark {

        }
      }

      .text {
        margin-right: 0 !important;
      }

      &.active {

        a {
          &:hover, &:focus {
            opacity: 0.5;
            color: black;
            background-color: transparent;
          }
        }
      }

      &.selected {
        a {
          //background-color: #256386 !important;
          //color: white;
          //padding-right: 30px;
        }
      }
    }
    
    .inner {
      background-color: #fff;
    }
  }

  .bs-actionsbox {
    display: none;
  }

  &__icon {
    position: absolute;
    top: 10px;
    left: 23px;
  }
  
  &.show-menu-arrow {
    .dropdown-toggle {
      &:before {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid white;
        bottom: -14px;
        left: 14px;
      }

      &:after {
        display: none !important;
      }
    }
  }

  &.show-tick {
    .dropdown-menu {
      li {
        a {
          .check-mark {
            position: absolute;
            opacity: 0;
            right: 11px !important;
            top: 4px !important;
            width: 10px;
            height: 10px;
            display: block;
            border-radius: 5px;
            margin: 0;
            background-color: transparent !important;
            background-image: url(../icons/icon-x-white.svg);
            background-repeat: no-repeat;
            background-position: center;
            border: none;

            &:before {
              display: none;
            }
          }
        }

        &.selected {
          a {
            .check-mark {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &.open {
    //border-color: transparent;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 17px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    .dropdown-toggle {
      background-color: white !important;
      box-shadow: none;
      color: #000 !important;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;

      &:after {
        opacity: 1;
      }

      .caret {

      }
    }
  }
}
