
.head-h1 {
  font-family: $cuprum;
  font-weight: bold;
  letter-spacing: 0.6px;
  font-size: 26px;
  margin-bottom: 20px;

  @media(max-width: $screen-md){
    font-size: 20px;
    //margin-bottom: 10px;
  }
  @media(max-width: $screen-sm){
    //margin-bottom: 6px;
  }
}

.head-h2 {
  font-family: $cuprum;
  letter-spacing: 0.6px;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;

  @media(max-width: $screen-md){
    font-size: 30px;
    margin-bottom: 10px;
  }
  @media(max-width: $screen-sm){

  }
}

.head-h3 {
  font-family: $cuprum;
  font-size: 19px;
  font-weight: bold;
  line-height: normal;
  margin-bottom: 20px;

  @media(max-width: $screen-md){

  }
  @media(max-width: $screen-sm){

  }
}

.head-h4 {
  font-weight: bold;
  font-size: 16px;
  line-height: normal;
  margin-bottom: 10px;

  @media(max-width: $screen-md){

  }
  @media(max-width: $screen-sm){
    //font-size: 16px;
  }
}

.head-h5 {
  font-size: 18px;
  font-weight: bold;

  @media(max-width: $screen-md){
    font-size: 18px;
    margin-bottom: 10px;
  }
  @media(max-width: $screen-sm){
    font-size: 19px;
    line-height: 24px;
  }
}

a {
  @include transition(all .2s ease-in-out);

  &:hover, &:focus {
    opacity: $opacity-main;
    text-decoration: none;
    outline: none;
  }
}


.color {
  &--bright {
    color: #ff5400;
  }

  &--dark {
    color: #000;

    &:hover, &:focus {
      color: #000;
    }
  }
}

.text {
  &--underline {
    text-decoration: underline;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }

  &--nowrap {
    white-space: nowrap;
  }

  &--mark {
    color: #ff572a;
  }
}

.promo-lines {
  font-size: 26px;
  color: #ffde00;

  @media(max-width: $screen-sm){
    font-size: 20px;
  }

  span {
    color: black;
  }
}
